header .container{
	display: flex;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	align-items: center;
}

header {
	height: 60px;
	background-color: white;
	box-shadow: 0 1px 5px #565656;
}

.header-logo {
	display: flex;
	align-items: center;
	height: 60px;
	z-index: 2;
}

.header-logo img{
	width: 30px;
}

.mobile-toggler {
	position: relative;
	width: 30px;
	height: 22px;
	z-index: 2;
}

.mobile-toggler i{
	display: block;
	width: 30px;
	height: 2px;
	margin-bottom: 8px;
	background-color: #565656;
	border-radius: 5px;
}

.mobile-toggler i:last-child {
	margin: 0;
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: .2s;
	transform: translateX(100%);
}

.mobile-menu li {
	margin: 10px 0;
}

.header-mobile.-is-open .mobile-menu{
	transform: translateX(0);
}

.mobile-toggler i:first-child.-animation_first_i {
	position: absolute;
	transform: rotate(45deg);
}

.mobile-toggler i:nth-child(2).-animation_second_i {
	display: none;
}

.mobile-toggler i:last-child.-animation_third_i {
	position: absolute;
	transform: rotate(-45deg);
}

.mobile-toggler.-animation-mobile-toggler{
	display: flex;
	align-items: center;
}

.header-desktop {
	display: none;
}

.header-mobile {
	display: block;
}

@media screen and (min-width: 600px) {
	.header-desktop {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.header-mobile {
		display: none;
	}

	header .container {
		justify-content: flex-start;
	}

	.header-links a {
		margin-right: 15px;
		font-size: 20px;
	}

	.header-logo{
		margin-right: 35px;
	}
}