.section-main {
	height: calc(100vh - 60px);
	display: flex;
	align-items: center;
}

.main-contant{
	padding: 0 10px;
}

h1.-from-above {
	transform: translateY(-100%);
	transition: .5s ease-out;
}

h2.-from-bottom {
	transform: translateY(100%);
	transition: .7s ease-out;
}

h1.-animated,
h2.-animated {
	transform: translateY(0);
}

.title, .subtitle{
	overflow: hidden;
}

@media screen and (min-width: 375px) {
	h2 {
	font-size: 30px;
	}
	h1 {
		font-size: 6rem;
	};
}

@media screen and (min-width: 500px) {
	h2 {
	font-size: 32px;
	}
	h1 {
		font-size: 8rem;
	};
}

@media screen and (min-width: 768px) {
	h2 {
	font-size: 35px;
	}
	h1 {
		font-size: 10rem;
	};
}

@media screen and (min-width: 1024px) {
	h2 {
	font-size: 40px;
	}
	h1 {
		font-size: 12rem;
	};
}

@media screen and (min-width: 1024px) {
	h2 {
	font-size: 40px;
	}
	h1 {
		font-size: 12rem;
	};
}

@media screen and (min-width: 1280px) {
	h2 {
	font-size: 42px;
	}
	h1 {
		font-size: 13rem;
	};
}

@media screen and (min-width: 1440px) {
	h2 {
	font-size: 45px;
	}
	h1 {
		font-size: 14rem;
	};
}

@media screen and (min-width: 1600px) {
	h2 {
	font-size: 50px;
	}
	h1 {
		font-size: 15rem;
	};

	a {

	};
}