.modal {
	position: fixed;
	width: calc(100% - 20px);
	top: 200px;
	left: 10px;
	border-radius: 4px; 
	background-color: #ffffff;
	max-width: 600px;
	z-index: 10;
	overflow: hidden;
	height: 0;
	transition: .7s ease-out
}

.modal.-active{
	height: 300px;
}

.modal iframe{
	border-radius: 4px;
}

.modal-info {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-map {
	height: 200px;
	margin: 0 10px;
	transition: .7s ease-out;
	transform: translateY(200%);
}

.modal-info a img {
	position: relative;
	width: 50px;
	margin: 0 10px;
}

.modal-toggler {
	position: absolute;
	top: 5px;
	height: 15px;
	width: 15px;
	right: 5px;
	top: 15px;
	right: 10px;
	transition: .7s ease-out;
	transform: translateX(200%);
}

.modal-toggler.-active{
	transform:  translateX(0);
}

.modal-toggler:before,
.modal-toggler:after {
	position: absolute;
	display: block;
	content: "";
	width: 21px;
	height: 1px;
	background-color: #565656;
}

.modal-toggler:before {
	transform: rotate(45deg) translateY(50%);
}

.modal-toggler:after {
	transform: rotate(-45deg) translateY(50%);
}

.modal-info a {
	margin: 0 10px;
	transition: .7s ease-out;
	transform: translateY(-200%);
}

.modal-map.-active {
	transform: translateY(0);
}

.modal-info a.-active {
	transform: translateY(0);
}

@media screen and (min-width: 600px) {
	.modal {
		top: 50%;
		left: auto;
		right: 20%;
		transform: translateY(-50%);
	}
}