.section-portfolio {
	display: flex;
	min-height: 100vh;
	color: #565656;
	align-items: center;
}

.portfolio-gallery {
	position: relative;
}

.portfolio {
	padding: 30 0;
}

.portfolio-info {
	padding: 15px 10px;
}

.portfolio-title {
	color: #565656;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 15px;
}

.portfolio-desc {
	font-size: 20px;
	margin-bottom: 20px;
}

.portfolio-btn {
	padding: 20px;
	background-color: #dedbee;
	border: none;
	width: 100%;
	text-transform: uppercase;
	border-radius: 10px;
	font-size: 15px;
	font-size: 300;
}

.gallery-item  {
	width: 100%;
}

.gallery-item  img{
	max-width: 100%;
}

.portfolio-title {
	padding-top: 30px;
}

@media screen and (min-width: 978px) {
	.portfolio {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.portfolio-gallery  {
		z-index: 1;
		width: 60%;
		overflow: hidden;
	}

	.portfolio-info {
		height: 400px;
		z-index: 2;
		width: 40%;
		background-color: #f4f4f4;
		transform: translateX(15%) !important;
	}
}

.owl-prev,
.owl-next {
	color: transparent;
}

.owl-next:before {
	position: absolute;
	display: block;
	right: 30px;
	bottom: 50%;
	content: "";
	width: 15px;
	height: 15px;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	transform: rotate(-45deg) translateY(-50%);
}

.owl-prev:before {
	position: absolute;
	display: block;
	left: 30px;
	bottom: 50%;
	content: "";
	width: 15px;
	height: 15px;
	border-left: 3px solid white;
	border-top: 3px solid white;
	transform: rotate(-45deg) translateY(-50%);
}

@media screen and (min-width: 1400px){
		.section-portfolio .container{
			width: 70vw;
			margin-left: 50px;
		}
	}

@media screen and (min-width: 976px) {
	.owl-prev:before {
		left: 80px;
	}
}